[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
python-json-config = "*"
pytest = "*"
openpyxl = "*"
pandas = "*"
pywifi-controls = "*"
colorama = "*"
termcolor = "*"
redis = "*"
bcrypt = "*"

[requires]
python_version = "3.11"
